.yandexMap {
  --yandexMapWidthPlacemark: 4.625rem;

  &__customPlacemark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--yandexMapWidthPlacemark);
    background-color: var(--colorWhite);
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    box-shadow: var(--boxShadowDefault);
  }
}
