.createModalContent {
  &__input {
    width: 49rem;
    height: 6rem;
    background-color: var(--colorWhiteSmoke);
    padding-right: var(--inputPaddingRight);
    border-radius: 1rem;
    font-size: var(--inputFontSize);
    padding-left: 2rem;
  }
}
